:root {
  --light-gray: #1b2432;
  --dark-gray: #121420;
}

p,
a,
label,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

body {
  background-color: #121420;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

h6 {
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

::placeholder {
  color: #fff;
}
