nav {
  background-color: #1e272e;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  height: 2.5rem;
}

a {
  color: gray;
  text-decoration: none;
}

.left {
  padding-left: 20rem;
}

.right {
  padding-right: 20rem;
}
