.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 3rem;
  background-color: #1b2432;
  color: #fff;
  font-family: "Poppins", sans-serif;
  position: fixed;
}

.nav-container .logo {
  margin-left: 20rem;
}

.nav-container nav {
  margin-right: 20rem;
}
